@charset "utf-8";
/* ID Tab */
	  * { margin:0; padding:0; border:0; outline:0; }
      .idTabs {width:530px; height:auto; }
      .idTabs ul { background:#51a3b8; float:left; height:25px; padding:10px 0px 0px 0px; width:530px;}
	  .idTabs ul a:hover{ color:#fff; text-decoration:underline;}
      .idTabs li { list-style:none; float:left; height:12px; vertical-align:middle; line-height:12px; padding:0px 20px 0px 30px; border-right:1px solid #fff;}
      .idTabs a { display:block; color:#fff; font-size:12px; text-decoration:none; }
	  .idTabs a.selected {color:#fff; }
      .items>div { display:none; float:left; margin:0; background:#ffffff;}
	  .nostyle {background:none;}