@charset "utf-8";
/*---CSS Document---*/

/*---Import Reset---*/
@import url("reset.css");
/*---Import Reset End---*/


/*---CSS 3 @ Fontface---*/
@font-face {
}
/*---CSS 3 @ Fontface End---*/


/*---Webpage Basic Structure---*/
html {
  height:100%;
  background-color:#ffffff;
  background:url("../images/background_grey.jpg") fixed bottom repeat-x;
}

html, body {
  height:100%;
  border:0px;
  margin: 0px;
  padding: 0px;
  font-family:Arial, Helvetica, sans-serif;
  color: #1e1e1e;
  font-size:13px;
  line-height:24px;
  font-weight:normal;
  text-align:justify;
  hyphens:none;  
  font-smooth:always;
  -webkit-font-smoothing:antialiased;
  word-break: normal
  /*text-shadow:0 1px 1px rgba(0,0,0,.8);*/
}

.wrapper{
  width:100%;
  min-height:100%;
  height:auto; 
  position:relative;
  top:0px;
  bottom:0px;
}

header {
  width:100%;
  height:auto;
  margin:10px 0px 10px 0px;
  background:#ffffff;
}

.content {
  height:auto; !important
  min-height: 100%;
  height:100%;
  background:none;
  padding:5px;
  width:925px;
  margin:0 auto;
  border: 2px solid #fff;
}

.content_inner {
  background:#ffffff;
  width:925px;
}

.content_wrapper{
  width:925px; 
  margin:0 auto;
  min-height:100%;
}

footer {
  width:100%;
  height:25px;
  position:absolute;
  line-height:0;
  padding:0;
  margin:0;
  bottom:0;
}

.subpage_banner {
  width:925px;
  height:400px;
  box-shadow:3px 6px 10px -3px rgba(0,0,0,0.5);
  -moz-box-shadow: 3px 6px 10px -3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 3px 6px 10px -3px rgba(0,0,0,0.5);
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=120, Color='#a9a9a9')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=120, Color='#a9a9a9');
  position:relative;
}

.content_box {
  background:#ffffff;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  -moz-opacity:0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  width:400px;
  height:435px;
  float:right;
  z-index:100;
}

.content_box_inner {
  background:none;
  width:360px;
  height:395px;
  float:right;
  z-index:200; 
  position:absolute;
  top:0; 
  right:0;
  margin:40px 20px 20px 20px;
}

.blue_line {
  background:#51a3b8 repeat-x; 
  width:700px; 
  height:4px; 
  display:inline-block;
  float:right; 
  line-height:40px; 
  margin:18px 0px 18px 0px;
  *margin:10px 0px 10px 0px;
  position:absolute;
  right:0;
}


/*---Webpage Basic Structure End---*/


/*---Font Formating---*/
p{
  margin:0;
  padding:0px 0px 15px 0px;
  text-align:justify;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size:20px;
  font-weight:bold;
  line-height:40px;
  color:#1e6287;
  padding:0px 0px 0px 0px;
  margin:20px 0px 0px 15px;
  height:40px;
  width:910px;
  display:inline-block;
  vertical-align:middle;
  text-align:left; 
  position:relative;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size:18px;
  font-weight:normal;
  line-height:18px;
  color:#1e6287;
  padding:0;
  margin:0;
  text-align:left;
  margin:0px 0px 25px 0px;
}

h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size:18px;
  font-weight:normal;
  font-style:italic;
  line-height:20px;
  color:#1e6287;
  padding:0;
  margin:0;
}

h4{
  font-family: Arial, Helvetica, sans-serif;
  font-size:13px;
  font-weight:bold;
  line-height:28px;
  color:#1e1e1e;
  padding:0;
  margin:0;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size:30px;
  font-weight:bold;
  line-height:40px;
  color:#000000;
  padding:0;
  margin:0;
}

h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-size:25px;
  font-weight:bold;
  line-height:35px;
  color:#000000;
  padding:0;
  margin:0;
}
/*---Font Formating End---*/


/*---Main Menu---*/
#maincurrent{
  width:100%;
  height:12px;
  display:block;
  font-size:12px;
  color:#000000;
  text-decoration:none;
}

.mainmenu{
  width:100%;
  height:12px;
  border:none;
  margin:0px;
  padding:15px 0px 0px 5px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #2b5879;
}

.mainmenu ul{
  margin:0;
  padding:0;
  list-style:none;
}

.mainmenu ul li{
  width:140px;
  height:12px;
  float:left;
  text-align:center;
  padding:0px;
  border-right:1px solid #ccc;
}
		
.mainmenu ul li a{
  width:140px;
  height:15px;
  background:none;
  padding:0;
  margin:auto;
  font-size:12px;
  font-weight:bold;
  color:#68899a;
  line-height:15px;
  text-decoration:none;
  display:block;
}
	
.mainmenu ul li:hover a{
  text-decoration:none;
  width:140px;
  height:15px;
  display:block;
  font-size:12px;
  font-weight:bold;
  color:#1a4a61;
}
		
.mainmenu ul li ul{
  width:180px;
  height:auto;
  margin:0;
  padding:0;
  border:0;
  display:none;
  background-color:#ffffff;
  position:absolute;
  z-index:200;
  /*top:1em;
  /*left:0;*/
}

.mainmenu ul li:hover ul{
  display:block;
}
			
.mainmenu ul li ul li {
  width:170px;
  height:auto;
  border:0;
  margin:0px;
  padding:10px;
  display:block;
  text-align:left;
  text-decoration:none;
  vertical-align:middle;
}
		
.mainmenu ul li:hover ul li a{
  background:none;
}
		
.mainmenu ul li ul a{
  width:170px;
  margin:0px;
  padding:0px;
  display:block;
  font-size:10px;
  font-style:normal;
}
					
.mainmenu ul li ul a:hover,{
  border:0px;
}
					
.mainmenu ul li ul li:hover a{
  border:0;
  width:170px;
  height:auto;
  text-decoration:none;
  color:#2b5879;
  background:#ffffff;
}

/*---Main Menu End---*/

/*---Footer Menu---*/
.copyright{
  width:420px;
  height:25px;
  margin:0px;
  padding:0px 25px 0px 0px;
  text-align:right;
  font-size:10px;
  line-height:25px;
  font-weight:normal;
  color:#ffffff;
  float:right
}

.contact{
  width:420px;
  height:25px;
  margin:0px;
  padding:0px 0px 0px 25px;
  text-align:left;
  font-size:10px;
  line-height:25px;
  font-weight:normal;
  color:#ffffff;
  float:left;
}					
/*---Footer Menu End---*/

.btn_1 {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:34px;
  height:32px;
}

.btn_1:hover {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:34px;
  height:32px;
}

